# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

aiohttp==3.13.2
azure-functions==1.24.0
numpy==2.2.6
opencv-python-headless==4.12.0.88
pillow==12.0.0
PyMuPDF==1.26.6
python-dotenv==1.2.1
