aiohttp==3.13.3
azure-cosmos==4.14.6
azure-functions==1.24.0
azure-identity==1.25.1
fastapi==0.129.2
google-auth==2.48.0
email-validator==2.3.0
pydantic==2.12.5
pydantic-settings==2.13.1
python-multipart==0.0.22
uvicorn[standard]==0.41.0
