# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions==1.24.0
azure-cosmos==4.14.1
azure-identity==1.25.1
openai==2.7.1
python-dotenv==1.2.1
